@(id: String, query: String, syms: String)
<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Query is processing</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap-theme.min.css">
    <script type="text/javascript">
		function showHide(elementid){
		    if (document.getElementById(elementid).style.display == 'none'){
		        document.getElementById(elementid).style.display = '';
		    } else {
		        document.getElementById(elementid).style.display = 'none';
		    }
		}
    </script>
</head>
<body>
<form name="prepare_query_form" action="/request" method="get">
Next query: <input type="text" name="query"><input type="submit" value="Ок">
</form>

<br><br>
Query: @query
<br><br>

<script type="text/javascript">
var obj = JSON.parse('@Html(syms)')
obj.syms.sort(function(a,b) { return parseFloat(b["invCost"]) - parseFloat(a["invCost"]) } );
document.write("<table border=1 align=center ><tr> <td align=center>Term</td> <td align=center>Connection strength</td> <td align=center>Source usage</td> <td align=center>Details</td></tr>");

for (var i = 0 ; i < obj.syms.length; i++) {
	document.write("<tr>")
	var isym = obj.syms[i];
	var invCost=Number((isym["invCost"]).toFixed(2))
	var scrUsage=Number((isym["srcUsage"]).toFixed(2))
	document.write(
	      "<td align=right>" + isym["gsym"].name + "</td>" +
	      "<td align=center>" + invCost + "</td>" +
	      "<td align=center>" + scrUsage + "</td>")
	document.write("<td><div align=center><a href=\"javascript:showHide('chains_" + isym["gsym"].key + "');\">expand/hide</a></div>")
	document.write("<div id=\"chains_" + isym["gsym"].key + "\" style=\"display:none\">")
	for (var j = 0 ; j < isym["chains"].length; j++) {
		document.write("#" + (j + 1) + ") " + isym["chains"][j] + "<br>");
	}
	document.write("</div></td></tr>")
}
document.write("</table>");
</script>
<div style="position: absolute; top: 5px; right: 5px;  text-color: green">
    alexander.sirenko&#10052;gmail.com, 2014
</div>
</body>
</html>