@(id: String, query: String, syms: String)
<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Query is processing</title>
</head>
<body>

Query: @query
<br>

<script type="text/javascript">
var obj = JSON.parse('@Html(syms)')
obj.syms.sort(function(a,b) { return parseFloat(b["invCost"]) - parseFloat(a["invCost"]) } );
document.write("<table border=1>");
for (var i = 0 ; i < obj.syms.length; i++) {
	document.write("<tr><td valign=\"top\">")
	
	var isym = obj.syms[i];
	document.write("Symbol:<br>Inverted cost:</td><td valign=\"top\">" + isym["gsym"].name + "<br>" + isym["invCost"] + "</td><td valign=\"top\">")
	for (var j = 0 ; j < isym["chains"].length; j++) {
		document.write("#" + (j + 1) + ") " + isym["chains"][j] + " <br>");
	}
	document.write("</td></tr>")
}
document.write("</table>");
</script>

</body>
</html>