@(id: String, query: String, syms: String)
<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Query is processing</title>
    <script type="text/javascript">
		function showHide(elementid){
		    if (document.getElementById(elementid).style.display == 'none'){
		        document.getElementById(elementid).style.display = '';
		    } else {
		        document.getElementById(elementid).style.display = 'none';
		    }
		}
    </script>
</head>
<body>
<form name="prepare_query_form" action="/request" method="get">
Next query: <input type="text" name="query"><input type="submit" value="Ок">
</form>

<br><br>
Query: @query
<br><br>

<script type="text/javascript">
var obj = JSON.parse('@Html(syms)')
obj.syms.sort(function(a,b) { return parseFloat(b["invCost"]) - parseFloat(a["invCost"]) } );
document.write("<table border=1><tr> <td>Term</td> <td>Inverted cost</td> <td>Source usage</td> <td>derivation details</td></tr>");

for (var i = 0 ; i < obj.syms.length; i++) {
	document.write("<tr>")
	var isym = obj.syms[i];
	document.write(
	      "<td>" + isym["gsym"].name + "</td>" +
	      "<td>" + isym["invCost"] + "</td>" +
	      "<td>" + isym["srcUsage"] + "</td>")
	document.write("<td><div><a href=\"javascript:showHide('chains_" + isym["gsym"].key + "');\">expand/hide</a></div>")
	document.write("<div id=\"chains_" + isym["gsym"].key + "\" style=\"display:none\">")
	for (var j = 0 ; j < isym["chains"].length; j++) {
		document.write("#" + (j + 1) + ") " + isym["chains"][j] + "<br>");
	}
	document.write("</div></td></tr>")
}
document.write("</table>");
</script>

</body>
</html>