@(title: String)(header: Html)(content: Html)
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <title>@title</title>
  
    <!-- Include meta tag to ensure proper rendering and touch zooming -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Include bootstrap stylesheets -->
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
	<style>
		#footer {
		  height: 120px;
		}
		#footer {
		  background-color: #eee;
		}
	</style>

</head>
<body>
<div id="holder">
	    <div id="header">@header</div>
	    <div id="body">
	    	<div class="container">@content</div>	    
	    </div>
	    <div id="footer">
	    	<script type="text/javascript" src='@routes.Assets.at("javascripts/google-analytics-snippet.js")'></script>
	    	<a href="/about">Project info</a>
	    	<p>alexander.sirenko&#10052;gmail.com, 2014</p>
		</div>
	</div>	
	
    <!-- JavaScript placed at the end of the document so the pages load faster -->
    <!-- Optional: Include the jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <!-- Optional: Incorporate the Bootstrap JavaScript plugins -->
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
</body>
</html>
